input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

.poolDiv {
    display: grid;
    grid-template-columns: 3em 5em 3em;
    grid-template-rows: 2em 1.1em 3em 2em;
    margin: 10px;
    position: relative;
    z-index: 1;
}

/* Title */

.poolHeader {
    text-align: left;
    align-self: center;
    font-size: 2em;
    margin: 0;
    grid-column: 1 / span 3;
}

.editTitleForm {
    grid-column: 1 / span 3;
    display: flex;
}

.editTitleInput {
    min-width: 0;
    font-size: 1em;
    flex: 5;
}

.editTitleSubmit {
    min-width: 0;
    font-size: 1em;
    flex: 1;
}

/* Small Headers */

.boxHeader {
    padding: 0px;
    margin: 0px;
    font-size: .75em;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

/* Inputs */

.inputsBox {
    display: flex;
    align-items: flex-start;
}

.pool {
    text-align: center;
    padding: 1px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
}

.pool:focus {
    outline: none;
}

.largePool {
    font-size: 3em;
    grid-column: 2;
    grid-row: 3 / span 2;
}

.smallPool {
    font-size: 1.5em;
}

.leftPool {
    border-right-width: 0px;
}

.rightPool {
    border-left-width: 0px;
}